<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.pnasholm.mawnkee.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/mawnkee/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dictionaryService</servlet-name>
    <servlet-class>com.pnasholm.mawnkee.server.DictionaryServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dictionaryService</servlet-name>
    <url-pattern>/mawnkee/dictionary</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Mawnkee.html</welcome-file>
  </welcome-file-list>
</web-app>
